a:hover {
  color: #062b83;
  transition: 0.35s;
  cursor: pointer;
}

.select-button-container {
  button:hover {
    color: #c77a04;
    border: 2px dashed #fc9b09;
    transition: 0.35s;
    cursor: pointer;
  }
}

.select-date-container {
  img:hover {
    box-shadow: 3px 3px 5px #676666;
    transition: 0.35s;
  }
}
